@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* / */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Sign up */
.mainDiv {
  height: 80vh;
  /* width:400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 15px rgb(0 0 0/10%);
  padding: 20px;
  margin-top: 40px;
  align-items: start;
}
input {
  padding: 10px 20px;
  width: 90%;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgb(0 0 0/10%);
  transition: 0.3s;
  margin-bottom: 8px;
}
input:focus {
  border: 2px solid rgb(84, 217, 224);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.register {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  font-size: 16px;
  font-weight: bold;
}
.mainDiv div{
  
  align-self:   center;
  margin-top:10px
}
.register:hover {
  /* background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite; */
  background-image: linear-gradient(30deg, #ffffff, #ffffff);
  cursor: pointer;
  color: rgb(17, 67, 230);
}
.error {
  /* display:inline; */
  color: rgba(247, 3, 3, 0.7);
  font-size: 14px;
  margin-top: 0;
}
